body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #585d63;
    color: rgba(128, 85, 85, 0.562);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-container {
    text-align: center;
}

canvas {
    background-color: #454546; /* Fond du jeu gris clair */
    border: 5px solid #3b91ca;
    border-radius: 2px;
}

h1 {
    margin-top: 0;
}